<p>test-comps works!</p>

<p>
    <span class="move-badge" matBadge="12">כל הכבוד לישראל</span>
</p>
<p>
    <span matBadge="12" matBadgeOverlap="false">excelent karlin</span>
</p>
<p>
    <span matBadge="12" matBadgeColor="warn">excelent gur</span>
</p>

<p>
    Button with a badge on the left
    <button mat-raised-button 
            color="primary"
            matBadge="8" 
            matBadgePosition="before" 
            matBadgeColor="accent">
        Action
    </button>
</p>

<mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select 
        (click)="matSelectClick($event)" 
        (selectionChange)="matselectionChange($event)">
        <mat-option value="1">Option 1</mat-option>
        <mat-option value="2">Option 2</mat-option>
        <mat-option value="3">Option 3</mat-option>
    </mat-select>
</mat-form-field>

