
<h1>hi, i am app comp of {{title}}</h1>


<ul>
    <li><a routerLink="/chocolate">chocolate</a></li>
    <li><a routerLink="/ice-cream">ice-cream</a></li>
    <li><a routerLink="/user/5">5th user</a></li>
    <li><a routerLink="/data-title">data title</a></li>
    <li><a routerLink="/pizza">pizza</a></li>
    <li><a routerLink="/mat-test">mat-test</a></li>
    <li><a routerLink="/mat-dashboard">mat-dashboard</a></li>
    <li><a routerLink="/mat-form">mat-form</a></li>
    <li><a routerLink="/pipe">pipe</a></li>
    
</ul>

<router-outlet></router-outlet>